﻿.cardbody {
  background-image: url("cardbackground.png");
  background-size: auto;
  overflow: hidden;
}

.card {
  border: 1px solid #BFBFBF;
  box-shadow: 3px 3px 2px 2px #999999;
}

.wrapper {
  padding-top: 1%;
}
