﻿#firstimage img {
  margin-top: 3%;
  margin-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 10px 10px 8px 10px #888888;
  height: 100%;
  width: 50%;
}

#socialmedia {
  text-align: center;
  height: 500px;
  width: 500px;
}

#indivhead  h5{
 font-weight: bold;
}

#issueimage img {
  margin-top: 3%;
  margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 8px 10px #888888;
  height: 100%;
  width: 100%;
}
