﻿.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body { 
    padding-top: 3.5%; 
}

.App-link {
  color: #61dafb;
}

.box {
	border:solid;
	border-width: thin;
	width:85%;
	padding: 1em;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th {
  color: blue;
}
th, td {
  text-align: center;
}
th {
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
