<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <div class="container">
        {% for item in intro %}

        <div class="alert alert-primary" role="alert">
            {{item}}

        </div>
        {% endfor %}
    </div>
</head>
<body>

</body>
</html>